  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">miniApp</a>
    </div>
  </nav>

<div class="contents row">
  <a href="/">一覧にもどる</a>
  <%= form_tag("/#{@tweet.id}", method: :patch) do %>
    <h3>
      編集する
    </h3>
    <textarea name="text" placeholder="記事を編集してください" rows="10" cols="50"><%= @tweet.text %></textarea>
    <p><input type="submit" value="投稿"></p>
  <% end %>
</div>
